<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Available Flights Here</title>
    <style>table, tr, th {
        border: 1px solid black
    }</style>
    <SCRIPT type="text/javascript">
        function cancelForm() {
            window.location = "/"
        }
    </SCRIPT>
</head>
<body>
<div align="center">
    <div style="margin-top: 120px">
        <form th:action="@{/book_flight}" method="post" th:object="${flight}" style="max-width: 500px;margin: 0 auto;">
            <table>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Destination</th>
                    <th>Source</th>
                    <th>Person</th>
                    <th>Flight Price</th>
                    <th>Air Line</th>
                </tr>
                </thead>

                <tbody>

                <th:block th:each="flight:${Getflights}">
                    <tr>
                        <td> [[${flight.date}]]</td>
                        <td>[[${flight.destination}]]</td>
                        <td>[[${flight.source}]]</td>
                        <td>[[${flight.person}]]</td>
                        <td>[[${flight.flightprice}]]</td>
                        <td>[[${flight.airline}]]</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <div align="center">
                <div style="margin-top: 50px">
                    <div>
                        <button type="submit">Book Flight</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<br>
<div align="center">
    <button type="button" onclick="cancelForm()">Cancel</button>
</div>
</html>
