<html>
<head>
    <title>Welcome Payment Area</title>
</head>
<body>
<h1>FlyAway Payment Area</h1>
<div class="container">
    <div align="center">
        <div style="margin-top: 80px">
        </div>
        <row>
            <div class="col-md-6 col-md-offset-4">
                <form >
                    <div class="row">
                        <div class="col-md-8">
                            <label >UPI address</label>
                            <input type="text" name="email" id="email" class="form-control border-input"
                                   value="user@upi" placeholder="Enter email address" style="margin-bottom: 30px;">
                            <br>
                            <h2><a href="conformationTicket">Pay Now</a></h2>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
        </row>
    </div>
</div>
</body>
</html>